@font-face {
    font-family: 'Berlingske Sans';
    src:	url('./fonts/BerlingskeSans-Rg.eot');
    src:	url('./fonts/BerlingskeSans-Rg.eot?#iefix') format('embedded-opentype'),
    url('./fonts/BerlingskeSans-Rg.woff2') format('woff2'),
    url('./fonts/BerlingskeSans-Rg.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Berlingske Sans';
    src:	url('./fonts/BerlingskeSans-Blk.eot');
    src:	url('./fonts/BerlingskeSans-Blk.eot?#iefix') format('embedded-opentype');
    src:	url('./fonts/BerlingskeSans-Blk.woff2')format('woff2'),
    url('./fonts/BerlingskeSans-Blk.woff')format('woff');
    font-weight: 900;
    font-style: normal;
}


.cardgame {
    width: 821px;
    height: 528px;
    margin: 100px auto;
}

.card {
    font-family: 'Berlingske Sans', Arial, Helvetica, sans-serif;
}

.card-content {
    width: 721px;
    height: 428px;
    padding: 50px 65px;
    position: relative;
    background-color: #FFFFFF;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-image: url(../i/back.png);

}

.card-content__type-padded {
    width: 642px;
    padding-right: 114px;
}

.card-content.card-content__type-loader {
    background: none !important;
}

.card-content.card-content__type-0 {
    background-image: url(../i/start.png);
    padding: 50px 75px;
}

.card-content.card-content__type-wrong {
    background-image: url(../i/wrong.png);
}

.card-content__title {
    font-size: 40px;
    line-height: 44px;
    font-weight: 900;

}

.card-content.card-content__type-0 .card-content__title {
    width: 420px;
    margin-top: 60px;
    margin-bottom: 40px;
}

.card-content.card-content__type-0 .card-content__text {
    width: 350px;
}



.card-content__type-padded  .card-content__title {
    font-size: 18px;
    line-height: 24px;
    margin: 27px 0 15px 0;
    font-weight: 400;
}

.card-content__type-finish  .card-content__title,
.card-content__type-wrong  .card-content__title,
.card-content__type-right  .card-content__title {
    font-size: 24px;
    line-height: 24px;
    font-weight: 900;
    letter-spacing: .5px;
    color: #ca4131;
    margin: 50px 0 26px 0;
}

.card-content__type-finish  .card-content__title,
.card-content__type-right  .card-content__title {
    color: #000;
}

.card-content__text {
    font-size: 23px;
    line-height: 30px;
    font-weight: 400;
}

.card-content__type-finish  .card-content__text,
.card-content__type-wrong  .card-content__text,
.card-content__type-right  .card-content__text {
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    width: 370px;
}

.card-content__type-finish  .card-content__text,
.card-content__type-right  .card-content__text {
    width: 545px;
    line-height: 24px;
    margin-bottom: 25px;
}

.card-content__type-right  .card-content__text-resume {
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
    width: 530px;
}


.card-footer {
    position: absolute;
    bottom: 75px;
    height: 40px;
    left: 65px;
}

.card-footer.card-footer_start {
    left: 75px;
}



.card-step {
    position: absolute;
    top: 37px;
    width: auto;
    height: 30px;
    text-align: center;
    font-size: 18px;
    line-height: 18px;
    font-weight: 400;

}

.card-button {
    cursor: pointer;
    display: inline-block;
    padding: 10px 20px;
    background: #fbe9e4;
    border: 1px solid #ca4131;
    font-size: 20px;
}

.card-button:hover {
    background: #ca4131;
    color: #FFFFFF;
}

.card-content_variants {
    padding: 0;
    width: 550px;
    list-style: none;
    font-size: 18px;
    line-height: 22px;
    counter-reset: list;
}



.card-content_variant {
    margin: 0 0 10px 0;

}

.card-content_variant:last-child {
    margin: 0;
}

.card-content_variant a {
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    border-color: #ca4131;
    padding: 10px 15px 8px;
    display: block;
    background: #fbe9e4;
}



.card-content_variant a:hover {
    color: #FFFFFF;
    border-color: #ca4131;
    background: #ca4131;;

}


