@font-face {
    font-family: 'Berlingske Sans';
    src:	url('./fonts/BerlingskeSans-Rg.eot');
    src:	url('./fonts/BerlingskeSans-Rg.eot?#iefix') format('embedded-opentype'),
    url('./fonts/BerlingskeSans-Rg.woff2') format('woff2'),
    url('./fonts/BerlingskeSans-Rg.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Berlingske Sans';
    src:	url('./fonts/BerlingskeSans-Blk.eot');
    src:	url('./fonts/BerlingskeSans-Blk.eot?#iefix') format('embedded-opentype');
    src:	url('./fonts/BerlingskeSans-Blk.woff2')format('woff2'),
    url('./fonts/BerlingskeSans-Blk.woff')format('woff');
    font-weight: 900;
    font-style: normal;
}

.fd-vote__wrapper {
    max-width: 780px;
    margin: 0 auto;
    background: url(../i/bg.png) repeat;
}

.fd-vote__top {
    width: 100%;
    height: 241px;
    background: url(../i/top.png);

}

.fd-vote__info,
.fd-vote__content,
.fd-vote__actions,
.fd-vote__countdown {
    padding: 35px 41px;
    font-size: 17px;
    line-height: 24px;
    font-weight: normal;
    font-family: 'Berlingske Sans', Arial, Helvetica, sans-serif;
    color: #000000;
}

.fd-vote__info:after {
    content: '';
    display: block;
    width: 100%;
    height: 40px;
    margin: 40px 0 0 0;
    background: url(../i/divider.png) top center no-repeat;

}

.fd-vote__title {
    font-size: 24px;
    font-weight: bold;
    font-family: 'Berlingske Sans', Arial, Helvetica, sans-serif;
    color: #ca4131;
    text-transform: uppercase;
}

.fd-vote__text {
    margin: 0 0 30px;
}

.fd-vote__sub {
    font-weight: bold;
}


.fd-vote__content {
    padding-bottom: 0;
}

.fd-vote__actions {
    padding-top: 0;
}

.fd-vote__variants,
.fd-vote__results {
    padding: 0;
    margin: 1em 0;
}

.fd-vote__variant,
.fd-vote__result {
    display: block;
    margin-bottom: 10px;
}

.fd-vote__variant a {
    color: #ca4131;
    padding: 12px;
    border: 1px solid #ca4131;
    background: #FFFFFF;
    display: block;
    cursor: pointer;
    border-radius: 5px;
}

.fd-vote__variant a:hover {
    background: #f4d9d5;
}

.fd-vote__result {
    color: #ca4131;
    padding: 12px;
    display: block;
}

.percents-bar {
    display: inline-block;
    width: 160px;
    vertical-align: middle;
    position: relative;
    padding: 0 50px 0 0;
}

.fill {
    display: inline-block;
    background: #ca4131;
    height: 5px;
    max-width: 150px;
}

.result-percents {
    width: 200px;
    padding: 0 0 0 20px;
    vertical-align: top;
}

.percents-text {
    position: relative;
    margin-right: -60px;
    padding-left: 10px;
    display: inline-block;
}

.fd-vote__countdown {

}

.hidden {
    visibility: hidden;
}




